[2014-06-25 15:14] Melissa37 opened #1 "Author keywords"
Message from James: I've set up a query 'POA Keywords' which will return each keyword on a separate row.

[2014-06-25 15:15] Melissa37 opened #2 "Research organism"
Unless "other", research organism should be converted to a keyword

[2014-06-25 15:23] Melissa37 opened #3 "Major subject area"
These are output in the SQL query. It would be good to add them to the keywords that go to PubMed, however, as singular keywords.

Therefore, wherever there is an "and" remove the "and", put the following text into a new keyword entry:

Biochemistry
Biophysics and structural biology
Cell Biology
Developmental biology and stem cells
Ecology
Epidemiology and global health
Genes and chromosomes
Genom

[2014-06-26 13:28] Melissa37 opened #4 "PubMed xml information resource"
http://www.ncbi.nlm.nih.gov/books/NBK3828/#publisherhelp

[2014-06-26 16:37] Melissa37 opened #5 "File validator resource provided by PubMed"
http://www.ncbi.nlm.nih.gov/pubmed/citcheck/

[2014-06-26 16:49] Melissa37 opened #6 "Object type - not keywords"
We can add in other key information when we have it, here, e.g. PDB number.
Not necessary for launch, but would be good to add to the backlog
Object (O)

The Object tag includes the Type attribute, which may include only one of the following values for each identifier:

Keyword
DDBJ/EMBL/GenBank
SwissProt
Omim
Uniprot
PDB
NCBI:pubchem-substance
NCBI:pubchem-bioassay
NCBI:pubchem-compound
NCBI:refs

[2014-06-27 08:42] Melissa37 opened #7 "Group authors"
We've not yet had group authors, but they are coming and it is important that this information goes to PubMed. The kitchen sink xml has examples of group authors and thus what would be required to extract from the xml for the VoR deposit.
We'd have to mess about with the live EJP system to get samples into PoA SQL queries, so best to address this first time we have some in the live system for PoA

[2014-06-27 08:47] Melissa37 opened #8 "<Identifier Source=”ORCID”>http://orcid.org/5555-5555-5555-5555</Identifier>"
Yeah, can provide author ORCIDs to PubMed! Has been added to the VoR xml sample

[2014-06-27 08:56] Melissa37 opened #9 "History"
The <History> tag plays an important part in the process of submitting Ahead of Print citations. If a citation is submitted using the "aheadofprint" attribute  in the <PubDate> tag and is later replaced using the "ppublish" attribute, we recommend that the publisher "move" the Ahead of Print date to the <History> tag in the Replacement File. This will enable the citation to retain the ahead of pri

[2014-06-27 08:59] Melissa37 opened #10 "replaces tag"
Does not exist in original PoA deposit, but should be used in V2s and VoRs.

For V2s, it will just update the metadata as the PubStatus="aheadofprint"
When VoRs are submitted the PubStatus is updated to "epublish" and this is the trigger to PubMed that the article is finalised and they can progress onto the fixed status on PubMed.

Replacement Files can be used for two purposes: updating an Ahead

[2014-07-16 11:40] Melissa37 opened #11 "Author affiliations"
Can supply all author affiliations in PubMed xml metadata, not just for first author.
Please can we implement this for PoA and VoR?

[2014-08-12 15:10] #1 closed, assigned to nobody

[2014-08-12 15:18] Melissa37 opened #12 "VoR no PoA"
Do not add replaces tag
No ahead of print date

[2014-08-19 14:42] Melissa37 opened #13 "LinkOut program"
If you have full-text of your articles available at your website, you may also be interested in participation in our LinkOut program. In this program you can submit holdings files in conjunction with your XML citation files which will allow users to link from the MEDLINE citation to the full-text articles. Please review the following link for more information: http://www.ncbi.nlm.nih.gov/projects/

[2014-08-19 15:31] Melissa37 opened #14 "Middle initial/name"
Currently being added as part of first name, but PubMed allows middle initial/name in separate tag

[2014-08-19 15:32] #2 closed, assigned to nobody

[2014-08-19 15:32] #3 closed, assigned to nobody

[2014-08-19 15:32] #4 closed, assigned to nobody

[2014-08-19 15:32] #5 closed, assigned to nobody

[2014-08-26 15:37] #9 closed, assigned to gnott

[2014-09-01 15:54] Melissa37 opened #15 "Major subject area"
Rule:

Splits out on “and” and makes all words lower case
If we add new ones that don't fit this model need to add extra rule

[2014-09-02 15:35] #10 closed, assigned to nobody

[2014-09-02 15:35] #11 closed, assigned to gnott

[2014-09-02 15:35] #12 closed, assigned to nobody

[2014-09-02 15:37] #14 closed, assigned to nobody

[2014-09-02 15:37] #15 closed, assigned to nobody

[2014-09-03 09:13] Melissa37 opened #16 "Issue"
https://github.com/elifesciences/elife-pubmed-feed/commit/af14fca712034f4cda7bd87c0b8e1ac0c3af3d40

Leave field empty

[2014-09-03 09:14] Melissa37 opened #17 "Added PublicationType element"
https://github.com/elifesciences/elife-pubmed-feed/commit/cc781c4dba2a301a5a7bb1a6210cc5a00b7b878f

Defaults to JOURNAL ARTICLE

MH to confirm with Features what all the feature content should be labelled as.
REVIEW
LETTER
EDITORIAL
JOURNAL ARTICLE

[2014-09-03 09:14] Melissa37 opened #18 "Add PublicationType element"
https://github.com/elifesciences/elife-pubmed-feed/commit/cc781c4dba2a301a5a7bb1a6210cc5a00b7b878f

Defaults to JOURNAL ARTICLE

MH to confirm with Features what all the feature content should be labelled as.
REVIEW
LETTER
EDITORIAL
JOURNAL ARTICLE

[2014-09-03 09:26] Melissa37 opened #19 "Linkout Provider file"
Only need to send once, on set up, and again if further changes required in future.
Remove:
<Attribute>Free</Attribute>

[2014-09-03 23:42] #16 closed, assigned to nobody

[2014-09-08 06:24] #18 closed, assigned to gnott

[2014-09-08 10:32] Melissa37 opened #20 "Linkout - hosting of icon"
Currently hosted: http://highwire.stanford.edu/icons/externalservices/pubmed/elife_oa.png

eLife to self host the icon.

Location to be added to Resource file

[2014-09-09 15:26] #17 closed, assigned to nobody

[2014-09-15 17:43] gnott opened #22 "Research organism lower case"
A question to confirm: an article that has research organism "E. coli", when converting to lowercase the pubmed deposit has:

[code]

Q. Is this lowercase 'e' for the genus acceptable?

[2014-09-18 05:47] #22 closed, assigned to Melissa37

[2014-09-18 05:49] #20 closed, assigned to gnott

[2014-09-18 07:57] Melissa37 opened #23 "Pubmed and PoA v2"
Graham: In thinking about Pubmed deposits for a PoA v2, one problem is the PoA XML does not specify a publication date.

So, let's say you published a PoA today Sept 17th, then supplied a v2 on Sept 18th, then the publication date at Pubmed would change from Sept 17th to Sept 18th. Maybe this doesn't matter, but I should check what date the HW site has and also which date TNQ uses as its publicati

[2014-09-18 15:08] gnott opened #24 "Correction articles"
Due to missing an `<abstract>`, a correction type article caused an error.

To ignore the abstract when empty is an easy fix, but I'd like to confirm if any additional data should be sent to Pubmed.

E.g. http://www.ncbi.nlm.nih.gov/pubmed/?term=10.7554%2FeLife.03521

I think the linkout links are not provided for these historical correction articles either.

[2014-09-23 16:41] Melissa37 opened #25 "PubMed API - retrieve PubMed IDs for eLife content?"
http://www.ncbi.nlm.nih.gov/pmc/tools/id-converter-api/

Look to add the PMID to elife xml and Lens via the AWS workflow using the PubMed API

[2014-09-25 01:15] #24 closed, assigned to Melissa37

[2014-09-25 13:06] Melissa37 opened #26 "New subject area being introduced: Computational and systems biology"
We'll have this live in production in about 2 months.
This needs to be split into keywords:
Computational biology
Systems biology

[2014-10-06 22:02] gnott opened #27 "Remove xref tags from abstract"
When parsing the article XML, remove the `<xref>` tags from the abstract if present. E.g.

http://www.ncbi.nlm.nih.gov/pubmed/?term=10.7554%2FeLife.03433

[2014-10-09 00:22] #27 closed, assigned to nobody

[2014-10-09 00:29] #7 closed, assigned to JGilbert-eLife

[2014-11-13 00:31] #26 closed, assigned to nobody

[2014-12-16 16:23] #19 closed, assigned to nobody

[2014-12-16 16:23] #13 closed, assigned to nobody

[2015-01-23 13:29] Melissa37 opened #28 "Individual members of group authors not getting delivered to PubMed"
Hi Graham

We've found for 02935 that the group authors listed in the final PoA xml have not been converted and sent to PubMed.

This can be found in commit:
https://github.com/elifesciences/elife-pubmed-feed/commit/4871b6d60a5d4d10ec2e27f5a5d5f99876c32fad

The eLife xml is:
https://github.com/elifesciences/JATs-xml/commit/63595d71d9bab4ba342172643cd4e8aea9173c2e

Can we add this in ASAP?

Sorry,

[2015-01-23 17:38] gnott commented on #28
My understanding is these are contributors linked to a group author by a ``contrib-id``? E.g.

[code]

02935 as an example, I don't think the data of the actual group author's contributors are included. For this I may need to punt it back to James for more query development.

[2015-01-26 09:21] Melissa37 commented on #28
This is a VoR stage item. EJP does not store this data, so we cannot do it at PoA, but the final xml TNQ produces contains it where present at VoR stage.

[2015-01-26 09:49] Melissa37 opened #29 "PoA and VoR versions with different DOIs"
The Replaces tag includes the IdType attribute, which may contain only one of the following values:

pubmed - PubMed Unique Identifier (PMID) (default value)
pii - controlled publisher identifier
doi - Digital Object Identifier

We are currently using the "doi" value to match up the two versions of the article, but presumably if the DOI is different, we'd need to use the IdType attribute value of

[2015-01-26 16:16] gnott commented on #28
I understand now, it's the VoR XML to Pubmed issue. I will take this on!

[2015-01-26 16:19] Melissa37 commented on #28
Fab thanks! Lets chat about timelines on Thurs

[2015-01-29 00:45] gnott commented on #28
In parsing the XML file, only these were extracted as contributors

[code]

Individual contributors as part of a group are specified as

[code]

These ``non-byline`` authors will be added to the end of the contributor list.

Crossref XML generation already only includes ``contrib-type="author"`` contributors.

Pubmed XML generation will be set to include both types, ``contrib-type="author"`` and `

[2015-02-04 16:15] Melissa37 opened #30 "Add check to see whether made it to PMC/PubMed pages"
As PMC and PubMed have issues we often don't realise to later (or an author alerts us), I wonder whether we should add to our workflow processes to check PubMed/PMC for publication too, and if not there within 2 weeks/24 hrs, respectively, send an error message to Production?

[2015-05-11 08:09] Melissa37 commented on #28
Hi there This is fixed now isn't it? Closing the ticket.
M

[2015-05-11 08:09] #28 closed

[2015-05-11 22:04] gnott commented on #23
The chosen method to determine the published date of a PoA article at this time was to use the PubMed deposit history. This is stored in the S3 bucket in the folders used for the pubmed workflow. Each hour it checks for when an article is published, and so it has an accurate date for each article since about September 2014.

[2015-05-11 22:04] #23 closed

[2015-05-11 22:14] gnott opened #31 "Automatic v2 PoA delivery"
The ability to supply a version 2 of a PoA XML is now supported. It requires some manual steps by production team, and direct editing of XML files. The files flow to the publication system, PubMed and Crossref using the correct pub date.

It is possible to further automate the supply of version 2 PoA in the following way:

* Production team has edited the content of the article in the proofing sys

[2015-05-12 15:43] sparker88 commented on #31
Depending on the issues leading to a v2, there is a chance that we also have to supply an edited Data Supplement ZIP along with the v2 files. These will usually be delivered along with PoA files as part of the PackagePOA process, yet will require a different naming convention at v2, with the "v2" being entered slightly earlier:

elife_poa_e00092v2_ds.zip

In the event that we have to manually edit

[2015-09-24 19:11] Melissa37 opened #32 "eLife elocation ID"
Hi there

I have realised we are not sending our eLocation ID to PubMed, ie "the page number" e00000.

This means that the auto update mechanisms people like the typesetters use to via the PubMed API don't pick up a person readable elocation ID for use in reference lists and only pick up the DOI.

I'd like to be sending them the elocation ID too.

I've discovered this through the research and seei

[2015-09-28 16:36] Melissa37 opened #33 "Authors with multiple affiliations"
This is a new request to add to the workflow

http://www.ncbi.nlm.nih.gov/books/NBK3828/#publisherhelp.What_information_should_be

Example of an author with multiple affiliations:

[code]

[2015-10-02 10:35] Melissa37 commented on #33
Is coded in, just needs releasing to live. Will add to the sample file too.

[2015-10-02 10:50] Melissa37 commented on #33
Added sample: https://github.com/elifesciences/elife-pubmed-feed/blob/master/elife-2015-10-02-114700.xml

[2015-10-02 22:00] gnott commented on #33
This is done and deployed in https://github.com/elifesciences/elife-poa-xml-generation/pull/211

[2015-10-09 07:57] Melissa37 opened #34 "Corrections"
Dear PubMed Data Provider,

As previously announced, beginning with the publication year 2015, NLM retains the citation for errata notices supplied by publishers and enables publishers to include identifiers for the original article when submitting citations for errata and retractions. We want to take this opportunity to make the following requests related to submission of citation data for errata

[2015-10-13 11:33] Melissa37 commented on #32
I have worked out what we need to do.

Add new entry to the XML supplied to PubMed

<ELocationID EIdType="pii">10.7554/e00776</ELocationID>

See: http://www.ncbi.nlm.nih.gov/books/NBK3828/#publisherhelp.How_do_I_submit_citation_a

[2015-10-13 15:50] Melissa37 commented on #32
Can be done once new parser is deployed

[2015-10-17 18:56] Melissa37 commented on #8
Hi Graham

I just realised that we are not providing ORCIDs to PubMed for our VoR content and we should be. It's in the sample XML on GitHub but I guess I forget to remember about it that we can deliver for VoR content.
Can we get that added into the VoR package asap?

Orcids have been bumped to the top of an agenda and so I need to be doing all I can to add their value.

Sorry!!

M

[2015-10-19 15:23] gnott commented on #8
I've been checking and I think we've been supporting this for a while now. At least recently I can see one example 08961 from Oct 16th includes the data, batch file elife-2015-10-16-164606-PubMed.xml

[code]

[2015-10-19 15:38] Melissa37 commented on #8
Ah, that's the live example I was looking at and I could not find it in the Batch XML we'd sent to PubMed.
Sorry.

So, PubMed does nothing with it! I'll reach out to them and ask why they don't display it.

Cheers

M

[2015-10-19 20:59] gnott commented on #32
Fixed in https://github.com/elifesciences/elife-poa-xml-generation/pull/215

[2015-10-26 16:23] Melissa37 commented on #34
See:
https://github.com/elifesciences/elife-pubmed-feed/commit/6ff9fdf5b77875cfb873cf086ee4a65f5bb86535

Changes:

    '<PublicationType>Published Erratum</PublicationType>'

And add new object (relates to the article it is correcting):

`<Object Type="Erratum">
            <Param Name="type">dio</Param>
            <Param Name="id">10.7554/eLife.09457</Param>
        </Object>`

[2016-02-04 08:58] Melissa37 opened #35 "Expansion of the Publication Type values"
We are pleased to announce an expansion of the Publication Type values available for use by PubMed data providers.

Previously, data providers were limited to a small subset of potential Publication Type values: Journal Article, Published Erratum, Retraction of Publication, Editorial, Letter, and Review.

Effective immediately, data providers may use any of the following values in the PublicationT

[2016-03-08 15:36] Melissa37 commented on #35
Further expansion:

We are pleased to announce that PubMed data providers may submit the Publication Type values "Clinical Trial" and "Observational Study." Please keep in mind the following definitions:

CLINICAL TRIAL:
A work that reports on the results of a clinical study in which participants are assigned to receive one or more interventions so that researchers can evaluate the interventions o

[2016-03-09 23:47] #34 closed

[2016-03-09 23:48] #32 closed

[2016-03-15 11:25] Melissa37 opened #36 "Self correction and adding funding details"
VERY EXCITING ANNOUNCEMENT FROM PUBMED!!

Dear PubMed Data Provider,

Last September, we announced significant changes to the process of creating and editing PubMed data to be implemented in 2016. As we develop the new PubMed Data Management (PMDM) system, we would like to outline some of the changes PubMed data providers can expect to see this year.

Given that the vast majority of PubMed citatio

[2016-03-16 10:54] Melissa37 commented on #35
Have asked Andy/Peter whether we should consider any changes. Unlikely as would involve a lot of work to get this into the automated PubMed generation process. So will close for now and re-open if they have strong wishes!

[2016-03-16 10:54] #35 closed

[2016-03-16 15:14] gnott commented on #35
Right now we use three types only in Pubmed submissions,

EDITORIAL
PUBLISHED ERRATUM
JOURNAL ARTICLE

[2016-03-22 16:16] Melissa37 opened #37 "< characters, needs more investigation and re-coding 14003 as PubMed breaking on it"
From Graham: The last time we saw this I thought we were going to look at the possibility to move from &#x003C; back to &lt; for the < characters. We had good support for that. I don't think it was a final decision though, because you mentioned &#x003C; was part of the new procedure you'd devised.
I was going to have to rework how the text is parsed in order to try and fix this. &#x003C; comes thr

[2016-03-22 23:40] gnott commented on #37
The above redone to show the proper characters,

From Graham: The last time we saw this I thought we were going to look at the possibility to move from &amp;#x003C; back to &amp;lt; for the < characters. We had good support for that. I don't think it was a final decision though, because you mentioned &amp;#x003C; was part of the new procedure you'd devised.
I was going to have to rework how the te

[2016-05-17 10:24] Melissa37 commented on #25
Closed, now on JIRA: http://jira.elifesciences.org:8080/browse/ELPP-913

[2016-05-17 10:24] #25 closed

[2016-05-17 12:24] Melissa37 commented on #6
Closed, on JIRA: http://jira.elifesciences.org:8080/browse/ELPP-923

[2016-05-17 12:24] #6 closed

[2016-05-17 12:24] #8 closed

[2016-05-17 12:25] Melissa37 commented on #8
http://jira.elifesciences.org:8080/browse/ELPP-875

[2016-05-17 12:26] Melissa37 commented on #29
http://jira.elifesciences.org:8080/browse/ELPP-924

[2016-05-17 12:26] #29 closed

[2016-05-17 12:27] Melissa37 commented on #36
http://jira.elifesciences.org:8080/browse/ELPP-925

[2016-05-17 12:27] #36 closed

[2016-05-17 12:28] #31 closed

[2016-05-17 12:28] Melissa37 commented on #30
Covered elsewhere

[2016-05-17 12:28] #30 closed

[2016-05-17 12:28] #33 closed

[2016-05-17 12:31] Melissa37 commented on #37
http://jira.elifesciences.org:8080/browse/ELPP-926

[2016-05-17 12:31] #37 closed

[2017-02-27 14:29] fredolin73 commented on #10
Hi,

what happens if epublish date and aheadofprint date are the same? I saw this in some cases here but do not get the sense of it. It seems to take out the "Epub" date at the citation display at pubmed.

[2017-02-27 15:59] Melissa37 commented on #10
Hi there

At eLife, the epublish date and aheadofprint date are the same date, we do not update the date, just the status of the article.
Different publishers may update the publication date and so when they send their replaces XML file to PubMed they change the publication date.

I hope this helps?
Melissa

[2017-02-27 18:04] fredolin73 commented on #10
Hello:-)
yes, thats interesting thanks for tha info!
I saw an XML sheet here, posted by you. It has
`<PubDate PubStatus="epublish">`
 `<Year>2013</Year>`
 `<Month>10</Month>`
 `<Day>8</Day>`
 </PubDate>

and
`<History>`
`<PubDate PubStatus="aheadofprint">`
`<Year>2013</Year>`
`<Month>10</Month>`
`<Day>8</Day>`
`</PubDate>`
`</History>`

here is the link:
https://github.com/elifesciences/elife-pubm

[2017-02-27 18:24] gnott commented on #10
Looking at some samples of eLife's pubmed deposits, I don't think we include the "aheadofprint" in the history section on any deposits. This seems to have worked fine, I guess because our "epublish" and "aheadofprint" dates are the same. At least this omission of "aheadofprint" date in the history dates is not too important (@Melissa37 maybe those should be there and I missed that part).

We aren'

[2017-02-27 18:49] fredolin73 commented on #10
But in the posted code you did use "aheadofprint" within "history"
At least here:
https://github.com/elifesciences/elife-pubmed-feed/edit/master/elife-2015-10-02-114700.xml
But even if it is present it will be overwritten by the epublish pubdate within the upper section wihtin the <journal> tag as mentioned above.

Oh, I did not see that "ecolection" part in the helf section. Yes, maybe PLOS uses

[2017-02-27 19:11] gnott commented on #10
The file https://github.com/elifesciences/elife-pubmed-feed/edit/master/elife-2015-10-02-114700.xml  was a specification that was probably to be followed.

It could be in the code this was implemented, specifically at this line https://github.com/elifesciences/elife-poa-xml-generation/blob/develop/generatePubMedXml.py#L347

I was viewing some of the automated tests cases to see if I could find a h

[2017-02-27 21:35] fredolin73 commented on #10
@Meliassa37,
maybe you know something about the pubstatus=ecollection within the history tag?
Is this the "official" way to create the ecollection entry?

@all: maybe someone can answer me another question.
When you send the XML files to PMC in order to deposit the full articles there, then, as far as I know PMC will submitt the citations to Pubmed.
When submitting to PMC, the tags that are used a

[2017-02-28 09:03] Melissa37 commented on #10
Hi there

I just looked at PLOS XML and it uses

<Article PubModel="Electronic-eCollection">
It is not within the history section.

You can see the XML by clicking on an article and changing the format from Abstract  to XML
![screen shot 2017-02-28 at 08 55 01](https://cloud.githubusercontent.com/assets/6051876/23398238/a65bc4ba-fd93-11e6-96a5-febe3194de1b.png)

I am really sorry, but I don't know

[2017-02-28 11:29] fredolin73 commented on #10
Hi Melissa,

I understand that you are not the right adress for my questions, no Problem:-)

But allow me one more comment: The XML within the Pubmed entry is NOT the same XML which is submitted by the Publisher to Pubmed. The XML used for the Citation shown is the NMLMedlineCitationSetDTD, with the Pubmodels
Print; Print-Electronic, Electronic, Electronic-Print and Electronic-eCollection. See her

[2017-02-28 13:01] Melissa37 commented on #10
HI Guido

You are right, sorry I was being lazy! It's really hard to know what goes on in the conversion machinery. Maybe your best bet would be to ask PLOS what they send to PubMed and whether they have any comment?

I am sorry to not be more helpful!
M

[2017-04-18 07:23] Melissa37 opened #38 "Updated requirements and potential procedures"
PubMed Publisher DTD URL.

The PubMed Publisher DTD has a new home:
https://dtd.nlm.nih.gov/ncbi/pubmed/in/PubMed.dtd.

Please use the following header:
<!DOCTYPE ArticleSet PUBLIC "-//NLM//DTD PubMed 2.6//EN"
"https://dtd.nlm.nih.gov/ncbi/pubmed/in/PubMed.dtd">

Replacing non-Ahead of Print citations.

Since the release of the PubMed Data Management (PMDM) system in October 2016, data providers c

[2017-05-03 11:37] Melissa37 opened #39 "Adding Funding to data deposits"
We will now accept grant data in citation data submissions. The grants should be provided in the ``<ObjectList>`` as follows:

[code]

Grant data can also be added to existing PubMed citations using PMDM. For instructions on how to add grants in PMDM, please see:
https://www.ncbi.nlm.nih.gov/pubmed/management/help/editing-single/#grants

[2017-05-03 11:37] Melissa37 opened #40 "Creating links between related citations"
Last year, we began accepting the PMID, DOI, or PII of the original citation in the submissions for errata and retractions. This ensures a link between the original citation and related citation is created in PubMed as soon as the related citation is loaded to PubMed. This year we are extending this capability to all related article types, i.e.: errata, retractions, comments, reprints, updates, pa

[2017-05-03 11:38] Melissa37 opened #41 "Adding clinical trial data"
PubMed data providers may now include ClinicalTrials.gov identifiers in their XML citation data submitted to PubMed.
Sample XML:
[code]
Supplying these identifiers will create a link from the PubMed citation to the study on the ClinicalTrials.gov website.
As a reminder, data providers may submit the Publication Type values "Clinical Trial" and "Observational Study." Please keep in mind the followi

[2017-05-03 11:39] Melissa37 opened #42 "Adding database deposits"
We can add in other key information when we have it, here, e.g. PDB number.
Not necessary for launch, but would be good to add to the backlog
Object (O)
The Object tag includes the Type attribute, which may include only one of the following values for each identifier:
Keyword
DDBJ/EMBL/GenBank
SwissProt
Omim
Uniprot
PDB
NCBI:pubchem-substance
NCBI:pubchem-bioassay
NCBI:pubchem-compound
NCBI:refseq

[2017-06-21 01:50] gnott commented on #38
I think we already add Replaces tag for when a non-Ahead of Print article submission goes through. A recent example could be https://doi.org/10.7554/eLife.23190, on which, I believe, some author affiliations were changed about a week later. The PubMed deposit of June 15th was presumably successful, and the affiliations on the PubMed site match what is on the website https://www.ncbi.nlm.nih.gov/pu

[2017-07-28 14:13] Melissa37 opened #43 "Adding equal contributions to PubMed XML deposit"
The PubMed Publisher DTD (https://dtd.nlm.nih.gov/ncbi/pubmed/in/PubMed.dtd) allows data providers to indicate equal contribution among authors by using the EqualContrib attribute of the Author element. The default value for the attribute is "N," indicating non-equal contribution. In the example below, the first two authors contributed equally.

[code]

Instructions for how to indicate equal contr

[2017-09-29 23:39] gnott commented on #38
I think my question still stands that I think we already do this logic for adding ``<Replaces>`` tags, if you are able to please confirm @Melissa37.

[2017-10-03 14:06] Melissa37 commented on #41
https://www.ncbi.nlm.nih.gov/books/NBK3828/#publisherhelp

[2017-10-03 15:54] #38 closed

[2017-10-03 15:55] Melissa37 opened #44 "Conflict of Interest (COI) Statements"
If a published article includes a Conflict of Interest (COI) Statement, please include it in your XML citation data submission to PubMed. These COI statements should be provided in a new element: . This element occurs after the and tags, and before the .

These COI statements can also be added to citations in PMDM. The Conflict of Interest field appears in the Abstract section, just below Copyrigh

[2017-10-03 23:37] gnott opened #45 "Put code in new repo"

[2017-10-03 23:38] gnott opened #46 "Make new library easy to install using pip and setuptools"

[2017-10-03 23:38] gnott opened #47 "Build tests and refactor existing tests"

[2017-10-03 23:39] gnott opened #48 "Create new code repo"

[2017-10-03 23:41] gnott opened #49 "Create tests on non-eLife deposits"

[2017-10-03 23:42] gnott opened #50 "Write a readme for the new repo"

[2017-10-03 23:45] gnott opened #51 "Identify parts that are eLife specific then create new tickets"

[2017-10-03 23:46] gnott opened #52 "Use new PubMed generation code in the elife-bot activity"

[2017-10-03 23:47] gnott opened #53 "Configure preferences for PubMed generation"

[2017-10-03 23:48] gnott opened #54 "Source additional non-eLife XML to test the code"

[2017-10-03 23:49] gnott opened #55 "Make tests built automatically"

[2017-10-04 00:55] gnott commented on #48
New repo is https://github.com/elifesciences/elife-pubmed-xml-generation.

[2017-10-04 00:55] #48 closed

[2017-10-04 00:55] gnott commented on #46
Done, with a basic ``setup.py`` and the expected requirements to develop at this stage.

[2017-10-04 00:55] #46 closed

[2017-10-05 00:35] gnott opened #56 "Contributor on-behalf-of"
Building tests for the new kitchen sink XML, I see in the article XML there is an ``<on-behalf-of>`` tag,

[code]

@Melissa37 are you able to comment further of whether this value would be included in a PubMed deposit?

There's just a brief mention of on-behalf-of in issue https://github.com/elifesciences/elife-pubmed-feed/issues/7  from long ago about group authors.

[2017-10-05 07:16] Melissa37 commented on #38
@JGilbert-eLife I have assigned this issue to you as you can confirm - and we may need to change the production processes?

I missed/did not really understand to implications of this earlier.

So, we do not need to use the PubMed tool because the bot sends replacement files to PubMed anyhow when we publish new versions?

However, my understanding is that it does not work because we get numerous re

[2017-10-05 08:52] Melissa37 commented on #56
I have an email exchange out with Andy because PubMed do not account for on-behalf-of but reading between the lines they would treat it as an author, as long as the "groups" contribution was valid.

[2017-10-05 08:53] Melissa37 commented on #56
Just confirmed with Andy- should be treated as a group author.

Thanks!
M

[2017-10-05 15:07] gnott commented on #38
I don't think there have been many recent changes of the PubMed deposit code we run right now. My memory of recent deposit failures were due to ``<Replaces>`` tag a logic and in the PubMed report it says it cannot find the DOI in order to replace it. This happened in some specific cases where I think the v1 was not deposited to PubMed and then all v2 articles get a ``<Replaces>`` tag added. This b

[2017-10-05 15:11] JGilbert-eLife commented on #38
I had not noticed but our last PubMed failure was back at the start of August!

I guess that means we indeed don't have to manually update PubMed when we issue new versions of VoRs any more. Which is very nice!

[2017-10-05 17:48] Melissa37 commented on #38
Fab! Can we do a note to self to check this next time we do change metadata?

Thanks all!

M

[2017-10-05 18:25] gnott commented on #45
Code is added to https://github.com/elifesciences/elife-pubmed-xml-generation  develop branch.

[2017-10-05 18:25] #45 closed

[2017-10-05 18:27] gnott commented on #47
Test coverage is 100% (minus 1 line in the conf library that will get covered in further development). 5 article generation test cases and some edge case test cases from programatically built article objects.

[2017-10-05 18:27] #47 closed

[2017-10-05 18:28] gnott commented on #55
@giorgiosironi  when you have time, could you please take a look at https://github.com/elifesciences/elife-pubmed-xml-generation to see what is required to enable automated library tests on Alfred? I think in the case of the new Crossref you hooked up a coveralls token? Thanks!

[2017-10-06 09:10] JGilbert-eLife commented on #38
28985 was updated yesterday with a new version and PubMed has indeed updated to reflect that!

We did get PubMed rejections on silent corrections to 26693 and 24179, though not on 30883, oddly enough.

Elife|2017|6||e26693|Huang HT|10.7554/eLife.26693|28926338|REJECTED: Article Matches PmID=28926338, which is not in "[PubMed - as supplied by publisher]" status
Elife|2017|6||e24179|Lin A|10.7554/eL

[2017-10-06 19:17] gnott opened #57 "Improve the Replaces tag logic for flexibility and accuracy"
The older (currently running) PubMed code logic surrounding ``<Replaces>`` tag logic is basic and relies on some assumptions about the history of the document (whether the article was ever a PoA article) and/or its version number. Also, the version number of the article is not always set or is not available).

One example illustrated in comment https://github.com/elifesciences/elife-pubmed-feed/is

[2017-10-06 19:19] gnott commented on #38
Yes, I believe this is because those two were submitted as part of a silent correction of v1 version articles. I've identified some possible enhancements to the new code logic in a new issue https://github.com/elifesciences/elife-pubmed-feed/issues/57. The presence of a v1 does not necessarily mean we should omit the ``<Replaces>`` tag from the PubMed deposit, so we could set it prior to generatin

[2017-10-10 12:30] Melissa37 commented on #38
How about these from yesterday:

Elife|2016|5||e11450|Kaplan ES|10.7554/eLife.11450|26943618|REJECTED: Article Matches PmID=26943618, which is not in "[PubMed - as supplied by publisher]" status
Elife|2013|2||e00269|Yu S|10.7554/eLife.00269|23543845|REJECTED: Partial match
Total processed: 2 article(s), 2 were rejected

[2017-10-10 14:07] Melissa37 commented on #57
Sounds good thank you!

[2017-10-10 14:20] gnott commented on #38
Yes, I think the two examples you provided above fit the situation that is currently not covered: a silent correction of a v1. The logic for these ones should be improved, although probably via a workflow generating the PubMed deposit itself, which knows more context about the status of previous PubMed deposits for the article.

[2017-10-10 14:31] Melissa37 commented on #38
Cool, I think the logic should be that silent corrections don't get delivered to PubMed at all.
Then we'd not have rejections from them.
They should not go as no metadata should change in a silent correction, they are only used for file changes or tagging changes, so this has no effect on PubMed.

Thanks!
M

[2017-10-11 01:21] gnott commented on #51
There were a few steps to refactor the code to remove all the mentions of "elife" and related naming, such as the ISSN value, etc. As of now, it looks to be all done, and there's no need to make more tickets. Further steps will continue to make it more general purpose as part of the general purposing milestone, where elife defaults will be refactored into configuration options.

[2017-10-11 01:21] #51 closed

[2017-10-11 02:00] gnott commented on #54
Hi Melissa, could you please suggest or provide an open licensed article in addition to the BMJOpen article we've used in tests so far?

I tried the other "cstp" sample, except when I try to validate it on the PubMed site, it says their ISBN is not valid. Perhaps PubMed only looks at journals that it would accept?

So, I'd be wanting at least one other sample from a journal that would actually sub

[2017-10-11 08:01] Melissa37 commented on #54
Sent you two samples from Psychologica Belgica via email.

[2017-10-12 08:51] Melissa37 opened #58 "<replaces> tag for versions"
This is a new feature.
Have questions out with PubMed about this:
Can we use it to update our archive with funding metadata
Can we use it to update versions of VoR that are past the  [PubMed – as supplied by publisher] stage

**How to tag a new version**

To submit new version of an existing PubMed citation, create an XML file using <Replaces> tags referring to the PMID of the prior version. Assig

[2017-10-12 09:04] Melissa37 opened #59 "<PublicationType> updates"
The approved list on PubMed is:
Addresses
Bibliography
Case Reports
Classical Article
Clinical Conference
Clinical Trial
Congresses
Consensus Development Conference
Consensus Development Conference, NIH
Corrected and Republished Article
Editorial
Festschrift
Guideline
Interview
Journal Article
Lectures
Letter
Meta-Analysis
News
Newspaper Article
Observational Study
Patient Education Handout
Practi

[2017-10-12 09:06] Melissa37 opened #60 "ArticleIdList"
We are only providing the DOI in this section, but should also be providing the pii as well?

**ArticleIdList (O/R)**

The list of Article Identifiers. This tag is Required if ArticleId is present.

ArticleId (R)

The Article Identifier. The ArticleId tag includes the IdType attribute, which may include only one of the following values for each identifier:

pii - controlled publisher identifier (d

[2017-10-12 09:16] Melissa37 opened #61 "Adding dataset information"
In future, it would be good to take anything listed in the Major datasets generated section:

[code]

and convert, example:
[code]

However, in this section I don't think we are storing the information in a way it can be parsed for this data, WDYT @gnott ? This links t the work ongoing regarding Data Availability Statements.

Plan I have as at Feb 1, 2019:

- [x] Parse the `assigning-authority` va

[2017-10-12 09:17] Melissa37 commented on #57
linked to #58

[2017-10-12 09:18] Melissa37 commented on #42
Replaced by #61

[2017-10-12 09:18] #42 closed

[2017-10-12 09:32] Melissa37 opened #62 "Add multiple affiliations for authors"
Are we doing this already Graham?

**Can I submit multiple affiliations for one author?**

Yes. Please see the following example:

<Author>
<FirstName>Frank</FirstName
<LastName>Davis</LastName>
<AffiliationInfo>
<Affiliation>Department of Human Genetics, University of California, Los Angeles, California 90095, USA</Affiliation>
</AffiliationInfo>
<AffiliationInfo>
<Affiliation>Lewis Sigler Instit

[2017-10-12 09:35] Melissa37 opened #63 "Indicating equal contributions"
Our XML example:
[code]

Convert equal-contrib="yes" to <Author EqualContrib="Y">

From the PubMed guidelines:

**How can I indicate equal contribution among authors?**

Use the EqualContrib attribute of the Author element to indicate equal contribution among authors. The default value for the attribute is "N," indicating non-equal contribution. In the example below, the first two authors contribu

[2017-10-12 09:38] Melissa37 opened #64 "Converting MathML"
Convert MathML tags to text "[Formula: see text]"

EG

[code]

Should be converted to:
[code]

[2017-10-12 09:41] Melissa37 opened #65 "Add suffixes (author names)"
Suffix is optional, but as we have them we should supply them:

Suffix (O)

The Author's suffix, if any, e.g. "Jr", "Sr", "II", "IV". Do not include honorific titles, e.g. "M.D.", "Ph.D.".

[2017-10-12 09:44] Melissa37 opened #66 "Add copyright information"
CopyrightInformation (O)

The Copyright information associated with this article.

[2017-10-13 01:32] gnott opened #67 "Structured abstracts"
Please see an example Pubmed page for one of the article XML to potentially use in non-eLife test cases at https://www.ncbi.nlm.nih.gov/pubmed/?term=10.1136%2Fbmjopen-2013-003269

I believe the bold headings are the result of a deposit with a structured abstract: https://www.ncbi.nlm.nih.gov/books/NBK3828/#publisherhelp.How_should_structured_abst

It may be possible to support the parsing and gene

[2017-10-13 02:27] gnott opened #68 "Fix elife hook for computational and systems biology category"
There's some code to make more general purpose, where the category value "computational and systems biology" gets split into two separate category values. This should be turned into an eLife specific function or flag in the config file.

[2017-10-16 23:27] gnott commented on #44
I believe this is put into the ``<CoiStatement>`` tag in deposits and requires using schema version 2.7.

[2017-10-16 23:32] gnott opened #69 "Set DOCTYPE to be PubMed version 2.7"
To be explicit about which version of PubMed to support, set it to version 2.7 in the DOCTYPE of the output file. Currently we are using 2.6

Changes since 2.6 in the PubMed dtd,

[code]

[2017-10-17 00:04] gnott commented on #68
For now the splitting of categories on 'and' into multiple categories, and including the edge case for "computational and systems biology" to be split into ``['Computational biology', 'Systems biology']`` will be controlled by the config variable ``split_article_categories``: if set to True it will split categories, and the default will be False that will not alter the categories when processed.

[2017-10-17 00:04] #68 closed

[2017-10-17 00:06] gnott commented on #53
This is done. More config variables can be added as require during further development.

[2017-10-17 00:06] #53 closed

[2017-10-17 00:06] gnott commented on #49
Done in https://github.com/elifesciences/elife-pubmed-xml-generation/pull/2.

[2017-10-17 00:06] #49 closed

[2017-10-17 00:07] gnott commented on #54
Samples added in https://github.com/elifesciences/elife-pubmed-xml-generation/pull/2, thanks @Melissa37 !

[2017-10-17 00:07] #54 closed

[2017-10-17 06:15] gnott commented on #62
We are already submitting multiple affiliations per author, if it is provided in the XML, yes.

[2017-10-17 08:24] Melissa37 commented on #58
From PubMed:
We added versioned citations to PubMed several years ago. Since NLM has a narrow definition of a version (revisions, scientific updates, and updates of reviews), the number of versioned PubMed records is very small.

Can you provide some examples of the post-publication updates to the metadata? Corrections to author names, for instance, should be made in PMDM. Submitting new versions

[2017-10-17 17:48] gnott commented on #55
Any thoughts on this @giorgiosironi? I think we added ci tests for elife-article, and maybe we didn't add them for elife-crossref-xml-generation. Is this repo and the new Crossref one considered libraries in the ci environment?

[2017-10-17 17:50] #69 closed

[2017-10-17 18:03] gnott commented on #62
I will close this as done.

There is an example in the test cases (https://github.com/elifesciences/elife-pubmed-xml-generation/blob/develop/tests/test_data/elife-pubmed-02935-20170717071707.xml) from which I will include a snippet of here

[code]

On PubMed, these show with multiple superscript ordinals, 1,2,3 like this
![image](https://user-images.githubusercontent.com/1779115/31681000-d07d8204-

[2017-10-17 18:03] #62 closed

[2017-10-17 18:22] gnott commented on #63
I will close this as https://github.com/elifesciences/elife-pubmed-feed/issues/43 is a duplicate issue.

[2017-10-17 18:22] #63 closed

[2017-10-17 18:30] gnott commented on #43
I'm adding in the logic now to the new generation library. It will add the ``EqualContrib="Y"`` attribute when the contributor contributes equally, and it will not bother to add ``EqualContrib="N"`` if they did not contribute equally (which I believe can be omitted).

Trying the generated file in the PubMed citation checker at https://www.ncbi.nlm.nih.gov/pubmed/citcheck/  I do not see any visual

[2017-10-17 18:47] #43 closed

[2017-10-18 00:42] #65 closed

[2017-10-18 01:37] gnott commented on #56
I'm trying to add an ``on-behalf-of`` value as a group. It looks like if there is a ``<Group><GroupName>`` then it requires an ``<IndividualName>``. That would require at a minimum a ``<LastName>`` I think. We could add the on-behalf-of value as both the GroupName and the LastName in order to create a valid deposit.

Is that sounding ok, or does the inclusion of on-behalf-of need more analysis?

[2017-10-18 06:12] Melissa37 commented on #56
Hi there

No more analysis needed, that's perfect.

Thanks
M

[2017-10-18 06:25] #66 closed

[2017-11-07 15:20] gnott commented on #56
It looks like the compatible way and best looking result is to produce this

[code]

On Pubmed it will end up looking like this under the Collaborators list

![image](https://user-images.githubusercontent.com/1779115/32501175-3032d7a0-c38c-11e7-9471-00f4989456ed.png)

[2017-11-07 15:27] #56 closed

[2017-11-08 12:34] gnott commented on #41
I would like to discuss this a little more, regarding the support for parsing clinical trial data from the XML. I'm not sure the structure of it and how easily the clinical trial ID values can be extracted.

[2017-11-08 12:39] gnott commented on #40
What are the types of related articles we want to support starting out? Will we find the relatedness of the articles inside the article XML itself, or will we also consult external data sources to determine the related items for a particular article?

[2017-11-08 12:42] gnott commented on #59
Actions for now will be

* to change the case sensitivity of values,
* look at whether all the eLife article types are specified, and
* see if these values should be moved to the configuration file to be customised on a per-journal basis.

[2017-11-08 12:43] gnott commented on #55
Should I generate some coverage tokens and add any missing configuration files we added to (I think) elife-article project @giorgiosironi in order to reach the next step?

[2017-11-08 15:00] giorgiosironi commented on #55
All libraries should be built with `library-*` pipelines, the main setup is to add a `Jenkinsfile`.
It seems all the ones mentioned here now are build in Alfred:
- https://alfred.elifesciences.org/job/library-elife-crossref-xml-generation/
- https://alfred.elifesciences.org/job/library-elife-pubmed-xml-generation/
- https://alfred.elifesciences.org/job/library-elife-article/
Pull requests should b

[2017-11-08 15:03] giorgiosironi commented on #55
All the coveralls token for these projects seem to be in place at https://github.com/elifesciences/builder-private/blob/master/pillar/elife-libraries.sls#L8-L12

[2017-11-08 15:03] giorgiosironi commented on #55
Any bugs in the integration to sort out?

[2017-11-08 16:06] gnott commented on #44
This was a little more complicated than I expected.

Only one ``<CoiStatement>`` tag is allowed for each PubMed deposit, which is not such a surprise.

A contributor may have more than one conflict of interest, potentially, so I changed the parsing and Contributor object to have a list of conflict values.

The conflict of interest values on their own do not always make sense when they are separate

[2017-11-08 16:25] gnott commented on #55
I think PR was perhaps built by Alfred, but it didn't show on the Github PR page, which is odd https://github.com/elifesciences/elife-pubmed-xml-generation/pull/9

I don't think there are any integrations required here yet, if I understand the question, because the new PubMed library hasn't been deployed into production yet.

I guess I could remove the travis-ci builds from PubMed as well as the o

[2017-11-08 16:45] giorgiosironi commented on #55
Testing with https://github.com/elifesciences/elife-pubmed-xml-generation/pull/10 since there could be some integration problem I didn't find before.

Deleting the files makes the repository easier to understand, so I would go for that.

[2017-11-08 19:57] Melissa37 commented on #59
cool, thanks.
M

[2017-11-08 20:30] Melissa37 commented on #40
My understanding is, that when we publish an official correction, we send the XML to PubMed for that "article". Do we add to that PubMed XML the DOI of the original research article it refers to, using this tagging:

[code]

If not, I think that's what we should be doing.

Also, for datasets, I 've emailed them and cc'd you in:

We are currently updating our PubMed deposit information and are addi

[2017-11-08 20:51] Melissa37 commented on #41
Hi G, I think tis is another one that might need to go back into Pending.
There is a JATS4R recommendation being worked on currently, and I hope it will be released by the end of the year.
It will incorporate a lot of the work Crossref have done on this and we're looking to have very structured info that could easily be parsed...

This is not the definite tagging, but structure like this would wor

[2017-11-09 09:27] gnott commented on #41
Thanks for the update. It can stay in "Deposit Enhancements" milestone, because I created a "Deposit Enhancements - actionable" milestone for things that are ready to implement now.

[2017-11-09 11:08] #64 closed

[2017-11-09 14:19] gnott commented on #59
Feature (F)
@Melissa37  could you please confirm, is this Editorial or Journal Article for PubMed deposits?

[2017-11-10 11:38] Melissa37 commented on #59
Lets go for Journal Article

[2017-11-10 11:51] Melissa37 commented on #44
If 2 authors share a statement their initials are grouped at the start (comma separated) followed by the text.
Therefore, in eLife new XML where there is no conflict:  <p>No competing interests declared</p>
The authors who are associated with this footnotes have their initials at the start (comma separated), followed by this text.

[2017-11-10 14:02] #59 closed

[2017-11-20 15:12] Melissa37 commented on #61
On further reading of the PubMed information online, we have clarified that this is the correct way to add data citations to our PubMed deliveries:
**My Question:**
Regarding submitting datasets, I am a bit confused by the documentation.
Here an object type value of "Dataset" is provided, but here Dataset repository names are provided as the Dataset object type value.

Using the first example, I'd

[2017-11-20 20:22] #44 closed

[2017-11-20 23:05] #57 closed

[2017-11-21 16:01] Melissa37 commented on #39
From PubMed help: Can I submit grant information?

Yes. The grants should be provided in the <ObjectList> as follows:

<ObjectList>
<Object Type="grant">
<Param Name="id">12345</Param>
<Param Name"grantor">Wellcome Trust</Param>
</Object>
</ObjectList>
What is an Article Identifier?

All Article Identifiers are optional. An Article Identifier can take one of two forms; a PII or a DOI.

A PII, or P

[2017-11-21 16:02] Melissa37 commented on #39
@gnott are we ignoring funding that does not have a crossref ID and not sending it to PubMed? It does not say it has to have an ID, also the PII can be a publishers assigned ID...

[2017-11-21 18:37] gnott commented on #39
For funding I've tried using each the award-id and the crossref fundref id in the Pubmed ``<Param>`` tag. Previewing it on the Pubmed citation checker, neither really produces a full list of all the grants included in the deposit.

It would be helpful to have some clarification on when adding grant data whether it should have a doi Param, or what value should go into the id Param. The one small sa

[2017-11-21 19:18] #55 closed

[2017-11-21 19:21] gnott commented on #55
I tried deleting the travis-ci related files, and I also disabled builds for the repo on the travis-ci site. It didn't seem to trigger any builds, so I went into the Github repo settings, and under ``Integrations & Services`` I added the ``Jenkins (GitHub plugin)`` and entered the webhook URL. That seems to work, so I deleted the travis-ci entry under ``Integrations & Services`` and now ``elife-pu

[2017-11-21 22:44] gnott commented on #58
Thank-you for the additional detail. My take on this as I read it now is we could shelve adding any version support until a later date.

It would not solve any immediate fixes for eLife articles. For example,

1. The differences between a PoA article and a VoR article are not considered a new version. We already use the "aheadofprint" date for PoA articles, which are later replaced with the VoR.

[2017-11-21 22:55] gnott commented on #40
A couple parts here:

1. Relatedness between a correction and the article to which is refers

When the library processes a correction article which has related article tagging in it, it adds a related object in the Pubmed deposit. For example in the tests correction article 10.7554/eLife.15743 refers to the article it corrects like this:

[code]

After Pubmed processes this ``"Erratum"`` Object, t

[2017-11-22 00:05] gnott commented on #60
I've done a few small changes.

If an ``elocation-id`` is present, like ``<elocation-id>e15743</elocation-id>`` in the JATS XML, it will continue to be included in a Pubmed ``<ELocationID EIdType="pii">e15743</ELocationID>`` tag.

If there is an ``article-id`` tag, like ``<article-id pub-id-type="publisher-id">15743</article-id>``, then it will be included in a Pubmed ``<ArticleId IdType="pii">157

[2017-11-22 00:18] gnott commented on #55
I'm not sure I configured it correctly, PR https://github.com/elifesciences/elife-pubmed-xml-generation/pull/18 didn't trigger any Alfred build. @giorgiosironi perhaps if you could look at the repo settings and see what might be wrong about it?

[2017-11-22 09:22] Melissa37 commented on #60
Fab, sounds perfect :-)

[2017-11-22 09:47] Melissa37 commented on #39
Thanks, have emailed PubMed and cc'd you in

[2017-11-22 09:49] Melissa37 commented on #58
Agree with you! M

[2017-11-22 09:49] #58 closed

[2017-11-22 10:03] giorgiosironi commented on #55
We should need no set up on every single repository, since we use an organizational webhook (https://github.com/organizations/elifesciences/settings/hooks) that should send events for every repository. There is something wrong in the chain however, which I'll try to debug today.

[2017-11-22 16:30] gnott commented on #55
It looks like PR elifesciences/elife-pubmed-xml-generation#18 had a build since yesterday. Should we remove the Jenkins integration I added to that repository if you have an organisation-level webhook?

[2017-11-22 17:39] giorgiosironi commented on #55
Yes, repository level configuration should not be required (as we have too many repositories to configure).
https://elifesciences.atlassian.net/browse/ELPP-3289 is the ongoing investigation for missing builds.

[2017-11-22 18:20] #60 closed

[2017-11-22 18:23] gnott commented on #55
Thanks @giorgiosironi. I deleted the repo specific integration and I'll keep an eye on it as new code is merged.

[2017-11-30 10:51] Melissa37 commented on #61
PubMed: Yes, you are correct, this is a controlled list of allowable values for the secondary source ID list.  We are cautious in expanding the list because we are responsible for vetting, reviewing, monitoring and maintaining any links from PubMed.  In this case – where the journal participates fully in PMC -- the links are available from the full text there.

[2017-11-30 10:52] Melissa37 commented on #61
This task is awaiting a change in structure output from EJP.

[2017-12-07 08:45] Melissa37 commented on #39
From PubMed:

I’m sorry for the misunderstanding.  The grant is a field with limited allowed values:  <Param Name="grantor">Wellcome Trust</Param>.  We do not control or validate the attribute “id”.  So you can enter the number without checking an authority list.  The “id” attribute is optional.

Unfortunately, there is not a downloadable list of grant names or API. Updates are announced in the NL

[2017-12-12 00:25] gnott commented on #39
Thanks for providing the details @Melissa37 and PubMed!

I think if the name and id for each grant is included in the deposit file, then it should be feature complete as far as the software goes.

[2017-12-12 17:18] gnott opened #70 "Python 3 support for Pubmed code"

[2017-12-12 17:22] gnott commented on #70
Fixed in https://github.com/elifesciences/elife-pubmed-xml-generation/pull/20

[2017-12-12 17:22] #70 closed

[2017-12-20 02:49] gnott commented on #52
A PR of code in the ``elife-bot`` project containing functioning integrated PubMed library code https://github.com/elifesciences/elife-bot/pull/574.

[2018-01-17 22:59] gnott commented on #52
New PubMed code is deployed now, I will close this issue.

[2018-01-17 22:59] #52 closed

[2018-01-19 00:52] gnott opened #71 "CoiStatement with inline formatting tags"
First run of the new PubMed library today, and looking at the files produced. All seem to be valid.

One for the PubMed deposit for https://cdn.elifesciences.org/articles/31065/elife-31065-v2.xml, in the ``<CoiStatement>`` I noticed an escaped tag.

The XML has this

[code]

and the PubMed deposit CoiStatement ends up like this:

[code]

The escaped italic tag turns into the ``"&lt;italic&gt;"`` p

[2018-01-25 01:16] #71 closed

[2018-02-02 22:54] gnott opened #72 "PublicationType: Retraction of Publication"
If the ``article_type`` is ``retraction``, then set the PubMed deposit's ``PublicationType`` to ``Retraction of Publication``.

Should be possible by editing the values in the ``https://github.com/elifesciences/elife-pubmed-xml-generation/blob/develop/publication_types.yaml`` file.

[2018-02-05 20:20] gnott commented on #72
There will also be a different ``<Object>`` tag in the Pubmed deposit specific for the type ``Retraction``.

[2018-02-07 22:17] #72 closed

[2018-03-14 10:54] Melissa37 commented on #40
Hi there

Is the code updated for Retraction, now that we've got one!

M

[2018-03-14 19:10] gnott commented on #40
PR https://github.com/elifesciences/elife-pubmed-feed/issues/72  should have added the retraction support.

I think I see in the elife-bot project it is not reinstalling the pubmed library properly. I will update that, and then we can resubmit the retraction to PubMed.

[2018-03-14 20:44] Melissa37 commented on #40
Cool, thanks.
However, I think we can do it manually via their tool for publishers, and the resupply might not work.
If you can reinstall the library, I'll ask the team to update this retraction.
Thanks!
M

[2018-03-15 08:42] Melissa37 commented on #40
should we close this issue once you've reinstalling the pubmed library, or is that covered in another issue and we can close now?

Thanks!

[2018-05-23 15:49] Melissa37 opened #73 "eLife peer review experiment"
Hi Graham

eLife will be conducting an editorial experiment whereby authors choose whether to publish their article based on feedback from the editorial process.

We will be adding a sentence to the end of the article,
[code]

This will require parsing to PubMed XML with this end bit fitting their model of:
Submit abstract section headings in all uppercase letters followed by a colon and space, fo

[2018-05-23 15:56] Melissa37 commented on #73
Also, No PoA for these papers, so no need re wrangling from EJP CSV.
These papers will have a unique article type that distinguishes them from other research papers.
![screen shot 2018-05-23 at 16 52 52](https://user-images.githubusercontent.com/6051876/40436103-24339fac-5eaa-11e8-8243-a01b497825c0.png)
This screenshot is of the above XML in Continuum.

[2018-05-23 23:45] gnott commented on #73
The PubMed output you're describing reminds me of this issue https://github.com/elifesciences/elife-pubmed-feed/issues/67  Structured Abstracts.

However, in the JATS sample above, the parts of the abstract are not separated by ``<sec>`` tags (as I saw on a non-eLife sample leading me to create issue #67).

I did a quick test to generate a PubMed deposit from an abstract that has multiple paragrap

[2018-05-24 10:17] Melissa37 commented on #73
HI Graham

Added to this, the "(see decision letter)" will be a link to the decision letter of the paper. I don't think this is allowed in PubMed deposits? Would you be able to strip the linking in the PubMed code?

[2018-05-24 10:22] Melissa37 commented on #73
[code]

[2018-05-24 15:15] Melissa37 commented on #73
See: https://www.ncbi.nlm.nih.gov/pubmed/?term=Sci-Hub+provides+access+to+nearly+all+scholarly+literature

[2018-05-24 20:01] gnott commented on #73
I tested an example having an ``<ext-link>`` in the abstract and the tag is removed as the library runs today.

Roughly in late 2017 the ability to remove tags from the abstract was added to the ``elife-article`` project. Then, in the ``elife-pubmed-xml-generation`` project, the ``remove_tags`` configuration value allows the user to specify which tags to remove from the abstract (https://github.co

[2018-05-24 22:57] gnott commented on #73
In regard to the ``<AbstractText>`` and its ``Label`` attribute, I see in the PubMed dtd the ``Label`` is required, however it doesn't indicate the value must be non-blank.

A test file I created is valid according to Pubmed's citation checker, having an abstract like this based on your example:

[code]

The PubMed page would look like this:

![image](https://user-images.githubusercontent.com/1779

[2018-05-25 08:31] Melissa37 commented on #73
Fantastic, thanks G!
So, once we get the final specs from editorial w can code this from the eLife JATS XML?

M

[2018-05-25 09:30] Melissa37 opened #74 "PubMed not accept obituaries and in memoriam articles or multiple language abstracts"
Hi Graham

This does not affect eLife, but affects the reuse of the PubMed tool:

NLM has updated MEDLINE indexing policy. Effective June 1, 2018, PubMed data providers should no longer submit:

* separate citations for the non-English version(s) of an article published in multiple languages.

* citations for obituaries and in memoriam articles.

Further details about these policy changes are incl

[2018-06-05 15:52] gnott commented on #73
@Melissa37 could you please check with PubMed whether this is an ok format for them?

[2018-06-05 15:54] Melissa37 commented on #73
@gnott the text will be"**Editorial note**:"

[2018-06-06 13:20] Melissa37 commented on #73
From PubMed:
Hi Melissa,
Your approach looks fine.
Thanks much for checking with us first!
Kind regards,
Kathi

[2018-06-07 00:30] gnott commented on #73
A side effect of using the ``<AbstractText>`` tag in testing looks like it is a good way to express abstracts that have multiple paragraphs too. Previously this library was joining all the paragraphs into a single string an using that in the ``<Abstract>`` tag.

Setting the ``Label="Editorial note"`` attribute will be a slightly different logic, otherwise it will always be ``Label=""``.

[2018-06-07 00:37] gnott commented on #67
@Melissa37 I'm tempted to do this too because it is closely related to the ``Editorial note`` label we're adding in #73. Are you ok with it? It should have no impact to eLife, I just need to split abstracts on ``<sec>`` tags if present, otherwise by ``<p>`` tags.

[2018-06-07 06:48] Melissa37 commented on #67
Good idea! Go for it.

Thanks!
M

[2018-06-15 00:19] gnott commented on #67
It would require revisiting the elife-tools parser in order to include the ``<sec>`` tags in the BMJ Open sample. Right now, the parser only returns the paragraphs of an abstract. For now, I'm going to send this issue back to the Upcoming column in our project tracker, until it is more of a priority.

[2018-06-15 00:44] gnott commented on #73
I have a branch with functioning code for the feature. @Melissa37 will you be adding the XML tagging to a kitchen sink as an example?

[2018-06-15 00:59] gnott commented on #73
To avoid parsing ``<bold>`` tags in an abstract inappropriately (I found and eLife article that would produce poor input based on the logic I have right now, https://cdn.elifesciences.org/articles/29365/elife-29365-v2.xml) it is probably safest to add another configuration value for ``abstract_label_names``. That list for eLife would include ``Editorial note`` and then it can be considered as a la

[2018-06-15 09:35] Melissa37 commented on #73
That sounds good, thanks G. I won't be adding this to the kitchen sink until after the announcement on 25th June if that's OK?

M

[2018-06-15 09:36] Melissa37 commented on #67
Cool, This experiment is going live 25th June, so we should be prepared to go live in production by August.

[2018-06-21 13:23] Melissa37 commented on #41
A useful conversation between PLOS and PubMed:

PLOS:

PLOS would like to implement JATS4R's Clinical Trial tagging recommendations and begin submitting the relevant data to Crossref and PubMed. The JATS4R recommendation suggests tagging either the registry DOI or registry name as it appears in Crossref's list of WHO-approved registries.
![screen shot 2018-06-21 at 14 20 19](https://user-images.gi

[2018-07-05 23:51] #73 closed

[2018-07-07 00:17] gnott commented on #73
Code feature is added in the above PR, and I'm deploying it now to the bot.

[2018-08-07 09:47] Melissa37 commented on #39
HI G

We received this from PubMed. I don't think it changes anything, but wanted to send it to you for checking anyhow:

Please include funding information in citation data sent to PubMed when the research was supported by one or more grants. Supplying these details will enable users to discover the citations when searching by funding body or grant in PubMed.

If an article has supporting grant i

[2018-08-10 03:51] gnott commented on #39
I think we discussed at the time but I cannot remember the exact outcome. Was it possible the typesetters were going to consider the list of funders for inclusion in the JATS XML? If we were going to try it on the PubMed submission side, I think trying to fuzzy match any funder name to the strict list provided by PubMed was going to be a challenge, and we probably decided to postpone attempting it

[2018-08-20 07:25] Melissa37 opened #75 "PubMed DTD now supports MathML 3.0 tagging"
Dear PubMed Data Provider,

We've recently updated our DTD to support MathML 3.0 tagging for complex formulas in PubMed citations.  This means that the formulas that were previously replaced with the phrase [Formula: see text] can now be expressed using MathML 3.0.

Please use the following header for all XML files, particularly if you are including MathML 3.0:
`<!DOCTYPE ArticleSet PUBLIC "-//NLM

[2018-08-21 09:10] Melissa37 commented on #39
Coolio, all good.
Thanks
M

[2018-12-04 16:12] Melissa37 commented on #61
We're ready for this @gnott and @Melissa37

[2019-02-02 00:33] gnott commented on #61
First two checkbox steps are in PR https://github.com/elifesciences/elife-tools/pull/297 awaiting review.

[2019-02-13 00:37] gnott commented on #61
Next two checkboxes are completed in PR https://github.com/elifesciences/elife-article/pull/50.

[2019-02-13 00:53] gnott commented on #61
Drafting the logic in the https://github.com/elifesciences/elife-pubmed-xml-generation library, I have some details and questions.

**Current status**: Using the latest kitchen sink XML, https://github.com/elifesciences/XML-mapping/blob/master/elife-00666.xml, as the example, here is the new XML included in the Pubmed deposit for the datasets:

[code]

This includes only `doi` and `accession_id` v

[2019-02-13 10:24] Melissa37 commented on #61
@gnott I will contact PubMed about issue 1 and cc you in. I'd rather they accept NCBI than add further tasks to our production process, but sorry for not being thorough enough in my investigations at set up!

@FAtherden-eLife would you be able to find any examples that Graham is after in the recent archive?

M

[2019-02-13 10:55] FAtherden-eLife commented on #61
@gnott, yes the figshare citations have dois

**Example**
[code]

[2019-02-13 16:43] gnott commented on #61
Thanks @FAtherden-eLife, it looks like DOI value will work for Figshare, although I might need to capitalise the `F` - I will test it out.

Are you able to find any additional `assigning-authority` values in datasets we might be able to specify to PubMed?

[2019-02-22 01:36] gnott commented on #61
Tested `assigning-authority="figshare"` and it works now. Before I think `Figshare`, with capital `F` worked, now lowercase is ok.

[2019-03-06 02:37] gnott commented on #61
Thanks for the additional examples @Melissa37 in the Google sheet. From the start we can support these based on the ones you are potentially using now (when looking at the uri to choose the specific NCBI assigning authority:

[code]

[2019-03-06 02:38] gnott commented on #61
If you want to add additional `NCBI:xxxx` values in the future, we'll need to expand the examples of uri to assigning authority mappings.

[2019-03-07 23:51] gnott commented on #61
Code is merged into the `elife-pubmed-xml-generation` project, and I will go through the steps to get it deployed for eLife.

[2019-03-12 02:17] gnott commented on #61
Example deposited last week showing datasets on https://www.ncbi.nlm.nih.gov/pubmed/30735131

![image](https://user-images.githubusercontent.com/1779115/54170005-3634e300-4432-11e9-9e20-8fb4c1dd3ab8.png)

@Melissa37 do you think we completed this issue, or is there more to do before we close it?

[2019-03-12 08:44] Melissa37 commented on #61
That's great, thanks! We can close.

[2019-03-12 08:44] #61 closed

[2019-12-16 16:25] Melissa37 opened #76 "PubMed accept replaces files for VoR content that's upddated"
## Problem / Motivation
Until recently PubMed did not allow us to redeliver content to them via FTP once the content was published in VoR format. If production made any changes and published new versions the production staff update content on PubMed's site manually via the interface they provide for publishers.

It seems this has now changed and they can accept replaces files:

_Note: We accept Re

[2020-01-09 23:09] gnott commented on #76
One part of code related to this would be the `set_replaces()` function in `generate.py` of PubMed deposit library: https://github.com/elifesciences/elife-pubmed-xml-generation/blob/develop/elifepubmed/generate.py#L410-L428

As I can remember and interpret, the `<Replaces>` tag will get added if an article version is greater than 1, or of the `Article` object is explicitly set as having `replaces=

[2020-01-22 11:06] Melissa37 opened #77 "Send Digests to PubMed"
## Problem / Motivation

- WHO wants this? eLife journal (production)
- WHEN and WHERE do they want it? Send Digests to PubMed so they appear on the site for readers along with normal abstracts
- WHAT do they want?
- WHY do they want this? If we can send them and get more exposure, we might as well do it!

## Proposed solution
These are the instructions from PubMed:
OtherAbstract (O)
...
OtherAbst

[2020-01-28 01:08] gnott commented on #77
Some initial progress so far: I see this field does not seem to support any tagging like `<i>` tags, and if so they are shown as `<i>...</i>` on the PubMed citation file validator result.

Fortunately the `elife-aritcle` library is currently already placing eLife-style digest content into the article object as the `Article.digest` property.

I think we can safely assume for now if an article has a

[2020-01-28 01:16] gnott commented on #77
It looks like this field only supports one block of text with no paragraphs, so all the paragraphs from a digest will be joined together to form the plain language summary.

[2020-01-29 10:29] Melissa37 commented on #77
Thanks for this @gnott
I think it's fine for it to be one block of text, but I am confused about italics - are you sying no italics are allowed in Digests or that you ahve to change the tagging to make them appear as italics in PubMed?

Cheers!

[2020-01-29 19:27] gnott commented on #77
It looks like I was incorrect about the inline tagging support in my first tests. I have a working example now. It turns out the `<i>` tag was being converted to `&lt;i&gt;` in the XML output and is why the PubMed validator page was displaying the tags. The plain language summary does allow inline tagging that I can see. I will update the code to produce the best output.

[2020-01-31 17:22] gnott commented on #77
@Melissa37 we have some code that is looking good and is ready to deploy. Perhaps to check next week on call discussion?

[2020-01-31 18:46] Melissa37 commented on #77
Sounds good - and I'll add it to the planning team agenda to make sure
everyone is in agreement.

Cheers
M

Melissa Harrison
Head of Production Operations

Tel: +44 1223 855340

http://elifesciences.org

On Fri, Jan 31, 2020 at 5:22 PM Graham Nott <notifications@github.com>
wrote:

--
eLife Sciences Publications, Ltd is a limited liability non-profit
non-stock corporation incorporated in the State

[2020-02-04 09:55] Melissa37 commented on #76
@gnott

This was the response:

You are correct, in 2017 we began accepting replaces files for updates to these fields regardless of the citation status.  The documentation below is correct regarding the fields that can be updated with a `<Replaces>` file vs. PMDM only.

[2020-02-04 16:16] Melissa37 commented on #77
Only do this going forward and for normal resupplies and approved to deploy whenever ready!

[2020-02-04 16:22] Melissa37 commented on #76
OK to ignore silent corrections.

Need to check the logic of the workflow again.

If VoR 2 etc, can send to PubMed if replacing one of the items listed above

[2020-02-04 22:37] gnott commented on #76
Acted on the idea we had on today's call, I found an article that has multiple VoR versions, e.g. article `50796`. It was sent again today (`2020-02-04`) to PubMed. I found the batch file in the S3 bucket where such things are stored for reference, and the deposit includes:

`<Replaces IdType="doi">10.7554/eLife.50796</Replaces>`

I will conclude that regular VoR versions published that are greate

[2020-02-04 22:42] gnott commented on #76
Is that all that can be answered here do you think @Melissa37, or do you have more questions I can help answer? I will bat the issue back to you!

[2020-02-04 22:51] gnott commented on #77
Deploying the code now.

[2020-02-04 23:20] gnott commented on #76
One more note about silent corrections: I see nothing to stop PubMed deposits as a result of silent corrections of a VoR in the code. I think previously we (or I) depended on PubMed to reject later deposits of an article, even if it had a `<Replaces>` tag, so the PubMed record would not be altered as a result of a silent correction of a previous version.

We may want to guard against silent correc

[2020-02-05 01:49] gnott commented on #77
I will close the issue because all is done, but please feel welcome to add comments if something is wrong after reviewing the results.

[2020-02-05 01:49] #77 closed

[2020-02-06 01:55] gnott commented on #77
Here is a first example from today https://pubmed.ncbi.nlm.nih.gov/31939735/

[2020-02-06 02:08] gnott commented on #77
I see there is no space character between paragraphs, I will do a little fix for that.

[2020-02-07 11:48] Melissa37 commented on #76
I would like to exclude sending silent corrections to PubMed. I think it makes sense not to send them.

@eLifeProduction can we do a test:
If you do a new version that changes one of these fields:
Author name
ORCID
Author affiliation
Digest

Please don't update PubMed using the publisher interface but wait a few days and check it has been done automatically.

Once we know that, we'll update the Pu

[2020-02-07 11:49] Melissa37 commented on #76
@eLifeProduction Note - this excludes feature content as they tend to do silent corrections for any changes and so this won't be sent to PubMed and you'd need to update via the pubmed publisher interface

[2020-02-07 22:48] gnott commented on #76
I will prepare a PR into the `elife-bot` project to not do any PubMed deposits as a result of a silent correction workflow.

[2020-05-12 17:00] gnott opened #78 "Add more dataset values based on XML <source> value"
There are a view datasets added to PubMed deposits in an `<Object>` tag.

It considers the dataset `uri` value and matches against a list of hints for whether the dataset is an NCBI type.

We might be able to add additional datasets by also considering the value of the `<source>` tag in the XML to guess at what the dataset type could be, e.g.

`<source>Dryad Digital Repository</source>`

would ind

[2020-05-14 08:55] Melissa37 commented on #78
Yeah, suggest @FAtherden-eLife controls the values in source via Schematron for the PubMed list so you can create a map from one to the other. Current PubMed values list is:

BioProject
Dryad
figshare
GDB
Omim
PDB
PIR
SwissProt
UniMES
UniParc
UniProtKB
UniRef
NCBI:dbgap
NCBI:dbvar
NCBI:genbank
NCBI:genome
NCBI:gensat
NCBI:geo
NCBI:homologene
NCBI:nucleotide
NCBI:popset
NCBI:protein
NCBI:pubchem-bi

[2020-05-22 12:57] Melissa37 commented on #78
Cross linked with https://github.com/elifesciences/schematron-gitbook/issues/123

[2020-05-26 11:02] Melissa37 commented on #76
@eLifeProduction Have we had one of these situations yet?

[2020-05-26 16:50] eLifeProduction commented on #76
55607 that was just issued by Naushin earlier today would be a good test case, I think?

(We're had a few since Feb, I'm sure, but I don't know the numbers off hand!)

Thanks,

James

[2020-05-27 08:05] naushinthomson commented on #76
It looks like the affiliation was automatically updated in PubMed! Do you need any more info on this?

[2020-05-27 10:16] Melissa37 commented on #76
Thanks @naushinthomson !

@gnott we can close this ticket now?

Cheers
M

[2020-05-27 17:17] gnott commented on #76
Yes, I think we can close the issue, if I remember we wanted to confirm that particular data is getting updated automatically at PubMed when new article versions are published, and it is the case that the data is getting updated. It sounds like we're all satisifed with the explanation and the results. Thanks for all the input and checking the results in great detail!

[2020-05-27 17:17] #76 closed

[2020-05-29 01:44] gnott commented on #78
Looking at this a little more closely today to define some potential next steps, I have a few questions.

I ended up using Xquery to generate a list of dataset `<source>` and `<ext-link>` xlink:href values from previous eLife articles. The source values very often look like it has served as the title of the dataset. The parser uses the `<source>` value for the dataset's `title` value in the JSON d

[2020-05-29 07:47] Melissa37 commented on #78
We cannot do that, but we can use Schematron to ensure the ones you need to deliver to PubMed are controlled via Schematron. We'd expect you to ignore those not on the list, but we cannot restrict them

@FAtherden-eLife would you be able to compile the list of values that you check are consistent in Schematron and pass to @gnott - can you cross check with the list above and see whether we should a

[2020-05-29 15:27] FAtherden-eLife commented on #78
@gnott, @Melissa37, the Schematron checks that the value of source is correct based on the link on the `pub-id`. I think using source might be safer still however (since this could be changed during proofing for sensible some reason). I will provide a table for the source -> PubMed value mapping.

[2020-05-29 15:28] FAtherden-eLife commented on #78
Also using `source` would mean that we don't have a mismatch between the content and the PubMed value.

[2020-05-29 16:12] FAtherden-eLife commented on #78
Here's what we check for currently using the Schematron. I will check the archive for any others and update this table:

| PubMed value           | Source value(s)                                     |
|------------------------|-----------------------------------------------------|
| BioProject             | NCBI BioProject                                     |
| Dryad                  | Dryad Dig

[2020-05-29 22:38] gnott commented on #78
I think I might be understanding more fully now, thanks. I feel like it is worth a discussion point for our weekly call.

I'm looking at a recently published article which may serve as an example: https://elifesciences.org/articles/55320/figures#data, the XML https://github.com/elifesciences/elife-article-xml/blob/master/articles/elife-55320-v2.xml

On journal, the `<source>NCBI Gene Expression Om

[2020-06-09 12:24] Melissa37 commented on #78
I'd never really thought about how items are mapped in the XML to the references, for datasets. This will all change ultimately anyway when we stop presenting them there, so I don't think we need worry about that for now, seems sensible enough for what it's doing, even if not semantic - looks like an example of angling data for display purposes!

I thought you built the PubMed and Crossref deposit

[2020-06-11 22:39] gnott commented on #78
I think we may be discussing the PubMed datasets enhancements on two separate issues, but this one more apt for my question at hand.

I've made some progress today in adding the data from the citations/reference list based on their source value. I searched for some values in previously published article XML to see if I'm on the right track, with the understanding that you're probably not adding al

[2020-06-12 08:14] FAtherden-eLife commented on #78
Yes it would be better to ignore case. The tests currently only enforce the correct case in the `source` in references in the Data availability section, not the reference list. I can create tests which do this, but it would be safer to ignore case if that's simple to implement.

[2020-06-12 23:06] gnott commented on #78
I changed it to case-insensitive matching and I think it will work well. The updated code is merged into the library itself, and I'm next to deploy it so we start using it.

Once deployed, it may have some minimal effects already. One of the recent example articles I found was `53243`. There two datasets from the reference list that would have been included in the PubMed deposit if the article wer

[2020-06-15 16:16] gnott commented on #78
This is added now to the `elifepubmed` library, and it is deployed to be used in the `prod` `elife-bot` going forward. Hopefully all will work as planned. If you notice any errors could you please raise them as new issues? Thanks! I hope you also agree this issue is completed.

[2020-06-15 16:16] #78 closed

[2020-06-26 18:11] gnott commented on #41
@Melissa37, do you think we might consider adding clinical trials to PubMed deposits too, after we've finished adding them to Crossref deposits?

[2020-06-26 18:16] gnott commented on #39
Looking at the PubMed generation code, I think we add funding since December 2017. Do you remember @Melissa37, was an outstanding issue that the Funder name/id was supposed to match the allowed values PubMed accepts? Is that something Schematron does? Is there anything more we are to do with sending funding data to PubMed, or is it possible we can close this issue?

[2020-06-29 12:57] Melissa37 commented on #39
Hi there

Yes I think we can close this. I have followed up with them (long time later) to say we match to the Crossref Open Funder Registry and don't have the capacity to also try and match their terminology, if different.

Thanks!

Melissa

[2020-06-29 12:57] #39 closed

[2020-06-29 12:59] Melissa37 commented on #41
Yes Yes yes, that would be great, thanks :-)

M

[2020-07-17 11:18] Melissa37 commented on #75
We use MathML in abstracts but I don't know how much work this would be for you to do.
In perhaps 12-18 months we plan to allow TexMath/LaTex to pass through our XML and not convert to MathML, which makes me think this could be a waste of time and it would be better to focus effort on how to convert LaTex to plain text for PubMed submissions.

WDTY @FAtherden-eLife ?

[2020-07-17 11:19] Melissa37 commented on #74
I think we should ignore this and just close the issue,.

@FAtherden-eLife do you agree?

[2020-07-17 11:21] Melissa37 commented on #67
@gnott this should go back on the table now and we should add it to a sprint?

@FAtherden-eLife FYI

[2020-07-17 11:22] Melissa37 commented on #40
HI @gnott This can be closed can't it as you are adding links? Ir is that not done yet and I misread this?

[2020-07-17 11:22] Melissa37 commented on #50
I still think this should be done :-)

[2020-07-17 11:23] Melissa37 commented on #41
Coolio, this can go back on the to do list once Crossref is implemented? Or at the same time?

[2020-07-17 11:39] FAtherden-eLife commented on #74
Yup! Sounds fine to me - thanks

[2020-07-17 14:51] gnott commented on #67
The issue https://github.com/elifesciences/issues/issues/5742 is in the current sprint, the new one so it can appear on the appropriate project boards. I'll be looking at it today or Monday!

[2020-07-17 15:01] gnott commented on #40
I didn't remember doing this, but in the case of a correction or retraction article, an appropriate `<Object>` tag is added to the PubMed deposit output.

I think we're ok to close this issue.

[2020-07-17 15:01] #40 closed

[2020-07-20 08:50] FAtherden-eLife commented on #75
I agree.

Looking through (the few) abstracts that we've had in the past with equations (25), the vast majority are needlessly marked up using MathML, and could be alternatively represented using simple unicode.

I think that we should be avoiding using equations in abstracts where possible, so I will implement a warning for this in the Schematron. Obviously that will only account for VoRs, but I

[2020-07-24 23:54] #67 closed

[2020-10-13 15:19] #74 closed

[2020-10-13 15:23] FAtherden-eLife commented on #75
Note to self - confirm what we are delivering to PubMed if there is MathML in an abstract.

[2020-10-13 16:06] gnott commented on #75
I think when the PubMed generation library encounters a formula in an abstract it is replaced with `[Formula: see text]`. The line from an eLife `00666` kitchen sink article in the test scenarios, https://github.com/elifesciences/elife-pubmed-xml-generation/blob/develop/tests/test_data/elife-pubmed-00666-20170717071707.xml#L126

[2020-10-13 16:15] FAtherden-eLife commented on #75
Thanks G! Yup - here's an article from 2020 - https://pubmed.ncbi.nlm.nih.gov/32717179/.

I'm going to close this given our discussion earlier.

[2020-10-13 16:15] #75 closed

[2021-01-19 14:39] FAtherden-eLife opened #79 "PubMed Group author members not being supplied correctly"
## Problem / Motivation
We've noticed that group authors members are not being supplied correctly to PubMed.

Take [60675](https://elifesciences.org/articles/60675) as an example. The 45th Author (Oxford University Hospitals Staff Testing Group) is a group with 108 members.

[In PubMed](https://pubmed.ncbi.nlm.nih.gov/32820721/), the group members ~aren't enumerated~ are included at the end of the

[2021-01-19 15:06] FAtherden-eLife commented on #79
Could this be due to an XML change? It looks like from around 2017 there was a change in they way we captured group authors in eLife XML.

Take for example [10.7554/eLife.26030](http://doi.org/10.7554/eLife.26030), which has 'Collaborators' enumerated in [PubMed](https://pubmed.ncbi.nlm.nih.gov/28653623/). Group members are outlined in a third `contrib-group` in the XML.

Whereas [10.7554/eLife.25

[2021-01-19 15:22] gnott commented on #79
I'm looking at details and I don't have the full picture yet, but a couple notes. The `elife-pubmed-60675-20200911154510.xml` batch file is for the VoR which do include the author names, but they're not deposited as a `GroupList`.

I think it probably does relate to XML changes when the group author ID value disappeared, and in its place the group authors were nested inside the `<collab>` tag in t

[2021-01-19 15:23] gnott commented on #79
A clarification in the above, the `elife-pubmed-60675-20200821114508.xml` deposit was for the v1 PoA XML, and the members of the group are not present in the article XML, so they're not to be found in that PubMed deposit file. The `elife-pubmed-60675-20200911154510.xml` is for the VoR XML.

[2021-01-19 15:27] FAtherden-eLife commented on #79
Ah yes, I se now that the members are suffixed to the end of the author list.

[2021-01-19 15:30] gnott commented on #79
A possible difference is by comparing with the eLife kitchen sink XML test fixture for the PubMed generation project, https://github.com/elifesciences/elife-pubmed-xml-generation/blob/develop/tests/test_data/elife-00666.xml, the members of a group have a simple `<contrib>` tag.

In https://github.com/elifesciences/elife-article-xml/blob/master/articles/elife-60675-v2.xml, the tags are `<contrib co

[2021-01-20 03:34] gnott commented on #79
Some very early results, I'm getting some encouragingi output for this example article with a few small modifications.

It looks like the XML parser is setting `group_author_key` values for all the contributors in a good way, when the contributors are nested inside a `<collab>` tag, regardless of the `@contrib-type` attribute value.

There is some logic here relying on a value I put into the `pubm

[2021-01-20 08:33] Melissa37 commented on #79
Fabulous, thank you!
M

[2021-01-22 23:13] gnott commented on #28
Sitting down today, I resolve some errors with existing test cases and trying to confirm the strategy was sound I was following. The code change is in PR https://github.com/elifesciences/elife-pubmed-xml-generation/pull/44.

It is an improvement, I think, to remove the `group_author_contrib_types` configuration file value, because it was not working and was going to cause more trouble than instead

[2021-01-22 23:46] gnott commented on #79
Oops, I replied to the wrong issue today (https://github.com/elifesciences/elife-pubmed-feed/issues/28#issuecomment-765737558), I'll duplicate it here:

Sitting down today, I resolve some errors with existing test cases and trying to confirm the strategy was sound I was following. The code change is in PR https://github.com/elifesciences/elife-pubmed-xml-generation/pull/44.

It is an improvement,

[2021-01-23 00:55] gnott commented on #79
I resupplied eLife aritcle `60675` to PubMed right now as a test, and I think the generated file looks as expected. This may appear in PubMed next week, or maybe you'll get an error report from PubMed if it cannot be processed, hopefully the former.

@FAtherden-eLife, if you would like to check its PubMed page again in the next few days, it might look better. Then we can resupply other group autho

[2021-01-25 12:43] FAtherden-eLife commented on #79
Thanks @gnott, checking today, [it looks good](https://pubmed.ncbi.nlm.nih.gov/32820721/). So if we can proceed with re-sending the other affected group author articles, that would be great.

[2021-01-25 18:06] gnott commented on #79
These remaining articles are queued to be on their way to PubMed again in the hour or less:

[code]

[2021-01-26 08:50] FAtherden-eLife commented on #79
Great - thanks G!

[2021-01-26 09:27] FAtherden-eLife commented on #79
Hi @gnott, we've received an error report from PubMed for 55684:

element Group: validity error : Element Group content does not follow the DTD, expecting (GroupName? , IndividualName+), got (GroupName)
/AuthorList><GroupList><Group><GroupName>MRC AIMS Consortium</GroupName></Group>

Looks like it's expecting group members. This one doesn't actually have any so it didn't need to be resupplied (my

[2021-01-26 15:34] gnott commented on #79
Thanks Fred. For the first, `55684` must be a case not yet covered in the test scenarios where there's a `<collab>` which has no group members. The recent code change is clearly adding `<GroupList>` to the PubMed deposit when it should not. I'll add a test case and solve the logical cause.

[2021-01-26 19:12] gnott commented on #79
For the other articles, it looks like according to https://www.ncbi.nlm.nih.gov/books/NBK3828/#publisherhelp.How_do_I_interpret_the_Pub it looks like we cannot alter them by a resupply:

Over to you please @FAtherden-eLife whether you think these could be edited in the PubMed self-management system.

[2021-01-26 22:48] gnott commented on #79
Next bug fix is deployed, and I re-supplied article `55684` to PubMed now. I hope it results in no failure and a correct PubMed page.

[2021-01-28 09:26] FAtherden-eLife commented on #79
Many thanks @gnott. `55684 ` looks good. I've manually edited the records for those article that weren't in `[PubMed – as supplied by publisher]` status, so think we can consider this closed.

[2021-01-28 09:26] #79 closed

[2021-01-28 16:46] gnott commented on #79
Thanks for fielding the error reports and fixing the stubborn articles Fred, we got it done!

[2021-03-16 02:57] gnott commented on #41
Code is ready for this in PR https://github.com/elifesciences/elife-pubmed-xml-generation/pull/50.

If the article has clinical trials then the data will be added to the PubMed XML deposit generated.

[2021-03-16 16:25] #41 closed

[2021-03-25 09:04] fred-atherden commented on #41
Just confirming this is working with https://pubmed.ncbi.nlm.nih.gov/33650967/:
<img width="325" alt="Screenshot 2021-03-25 at 09 03 46" src="https://user-images.githubusercontent.com/43879983/112447263-0753e600-8d49-11eb-95f9-4e673b4dfe13.png">

[2021-03-25 21:01] gnott commented on #41
Looks as it should which is a relief, thanks for checking on it Fred.

[2021-08-24 02:49] gnott commented on #50
Added a longer README in PR https://github.com/elifesciences/elife-pubmed-xml-generation/pull/52

[2021-08-24 02:49] #50 closed